
{% extends "::layout/layout.html.twig" %}
{% block titre %}{{ velo.velonom }}{% endblock %}
{% block description %}{{ velo.description }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">

        <div class="span3">
            {% include '::modulesUsed/navigation.html.twig' %}
        </div>

        <div class="span9">
            <div class="row">
                <div class="span5">
                    <img src="{{ velo.image.path }}"  width="470" height="310">
                </div>

                <div class="span4">
                    <h4>{{ velo.velonom }}</h4>
                    <h5>{{ velo.categorie.catenom }}</h5>
                    <p>{{ velo.description }}</p>
                    <p>{{ velo.position }}</p>
                    <h4>{{ velo.prix | tva(velo.tva.multiplicate) }}€/jour</h4>
                    {% if panier[velo.id] is not defined %}
                        <form action="{{ path('ajouter', { 'id': velo.id })}}" method= "get">
                            <select name="qte" class="span1">
                                    {% for i in 1..15%}
                                        <option value="{{ i }}">{{ i }} </option>
                                    {% endfor %}
                            </select>
                            <td>jours</td>
                            <div>
                                <button class="btn btn-primary">Réserver</button>
                            </div>
                        </form>
                    {% else %}
                         <div>
                            <a href= " " class="btn btn-primary">Vous avez déja choisi ce vélo.</a>
                         </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}